body {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    font-family: sans-serif;
    background: light;  
}

.section-1 {
    display: flex;
}
/* .half-width-01 */
.half-width-01 {
    padding-top: 100px;
    padding-left: 70px;
    width: 50%;
}

.half-width-01 h1 {
    color: rgb(94, 90, 90);
    font-size: 70px;
    font-weight: bolder;
}
.span-1{
    color: orangered;
}
.half-width-01 p {
    font-size: 30px;
    color: gray;

}

.half-width-01 a {
    color: white;
    font-weight: bolder;
    padding: 15px;
    border-radius: 10px;
    background-image: linear-gradient(orange, tomato);
    text-decoration: none;
}





/* .half-width-02 */

.half-width-02 {
    width: 50%;
}

.img-1 {
    width: 500px;

}






/* section-2 */
.section-2{
   margin-top: 150px;
}
.img{
    width: 100%;
    
}
.half-width-03 img{
    position: absolute;
    top: 800px;
    left: 150px;
    width: 300px;
}
.half-width-04{
    width: 50%;
    position: absolute;
    top: 800px;
    right: 0;
}
.half-width-04 a{
   text-decoration: none;
   font-weight: bolder;
   color: wheat;
   background-image: linear-gradient(orange, tomato);
   padding: 15px;
   border-radius: 10px;
}
.half-width-04 h2{
   font-size: 50px;
   color: rgb(98, 97, 97);

}
.half-width-04 p{
    margin-bottom: 100px;
    color: rgb(71, 69, 69);
    font-size: 20px;
    font-weight: bolded;
}





/* section-3 */

.section-3{
    margin-top: 60px;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
}
.section-3 h1{
    color: rgb(98, 97, 97);


}







/* section-4 */

.section-4{
display: flex;
margin-top: 50px;
}

.border-1{
    box-shadow: 10px 10px 50px gray;
    width: 40%;
    margin-left: 8%;
    border-radius: 20px;
    padding-top: 20px;
}
.border-2{
   box-shadow: 10px 10px 50px gray;
    width: 40%;
    margin-left: 2%;
    border-radius: 20px;
    padding-top: 20px;
}

.border-1 img{
 width: 470px;
 height: 200px;
 margin-left: 30px;
}

.border-2 img{
    width: 470px;
    height: 200px;
    margin-left: 30px;
}
.border-1 h2{
    font-weight: bold;
    padding: 20px;
}
.border-2 h2{
    font-weight: bold;
    padding: 20px;
}
.border-1 p{
font-size: 20px;
 padding-bottom: 20px;
 padding-left: 20px;
 padding-right: 20px;
 color: gray;
}
.border-2 p{
    font-size: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color: gray;
 }





          /* section-5 */

.section-5{
    background: rgb(255, 255, 255);
    display: flex;
    border-radius: 20px;
    margin: 100px;
    
    box-shadow: 10px 10px 40px rgb(220, 218, 218);
}
.likes{
   margin-left: 80px;
   width: 30%;
   margin-top: 20px;
   margin-bottom: 20px;
}
.section-6{
    text-align: center;
    color: rgba(255, 255, 255, 0.813);
    background: #000;
}
.ji{
    color: orange;
}
.section-6 h1{
    padding: 30px;
}
.section-6 p{
    padding-bottom: 50px;
}
